* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.header {
  background-color: #113946;
  color: #113946;
}

#root {
  background-color: #F3F3F3 ;
  text-align: center;
}

.formulario{
  border-color: black;
display: flex;
padding: 90px;
gap: 20px;
justify-content: start;
}

